#access {
  width: 100vw;
}

.title_pc {
  display: block;
  padding-bottom: 1.5em;
  text-align: center;
  margin-top: 8.3vw;
  font-size: 2vw;
}
.title_mobile {
  display: none;

  text-align: center;
  margin-top: 8.3vw;
  font-size: 5vw;
}
.time1_pc {
  display: block;
  padding-top: 1.5em;
  border-top: solid 1px #c4c4c4;
  float: left;

  margin-left: 14vw;
  font-size: 1.7vw;
}
.time2_pc {
  display: block;
  padding-top: 1.5em;
  border-top: solid 1px #c4c4c4;
  float: left;

  font-size: 1.7vw;
  line-height: 2;
}
.time3_pc {
  display: block;
  padding-top: 1.5em;
  border-top: solid 1px #c4c4c4;
  float: left;
  color: green;
  font-size: 1.7vw;
  line-height: 2;
}

.time1_mobile {
  display: none;
  padding-top: 1em;
  text-align: center;
  font-size: 4vw;
}
.time2_mobile {
  display: none;
  padding-top: 0.5em;
  text-align: center;
  font-size: 4vw;
  line-height: 2;
}
.time3_mobile {
  display: none;
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  color: green;
  font-size: 4.5vw;
  line-height: 2;
}

.address1_pc {
  display: block;
  padding-top: 1.5em;
  border-top: solid 1px #c4c4c4;
  clear: both;
  float: left;
  margin-top: 3.3vw;
  margin-left: 14vw;

  font-size: 1.7vw;
}
.address2_pc {
  display: block;
  padding-top: 1.5em;
  border-top: solid 1px #c4c4c4;
  float: left;
  margin-top: 3.3vw;
  font-size: 1.7vw;
  line-height: 2;
}
.address1_mobile {
  display: none;
  text-align: center;
  font-size: 4vw;
}
.address2_mobile {
  display: none;
  padding-top: 0.5em;
  text-align: center;
  padding-bottom: 1em;

  font-size: 4vw;
  line-height: 2;
}
.station1_pc {
  display: block;
  padding-top: 1.5em;
  padding-bottom: 2em;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  clear: both;
  float: left;
  margin-top: 3.3vw;
  margin-left: 14vw;
  font-size: 1.7vw;
}
.station2_pc {
  display: block;
  padding-top: 1.5em;
  padding-bottom: 2em;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  float: left;
  margin-top: 3.3vw;
  font-size: 1.7vw;
}
.station1_mobile {
  display: none;

  text-align: center;

  font-size: 4vw;
}
.station2_mobile {
  display: none;

  padding-bottom: 1em;
  text-align: center;

  font-size: 4vw;
}
hr {
  margin-left: 14vw;
  margin-right: 14vw;
  color: #c4c4c4;
}

.image2 {
  text-align: center;
}

.image2 img {
  padding-top: 3em;
  width: 75vw;
  height: auto;
}

@media screen and (max-width: 560px) {
  .title_pc,
  .time1_pc,
  .time2_pc,
  .time3_pc,
  .address1_pc,
  .address2_pc,
  .station1_pc,
  .station2_pc {
    display: none;
  }

  .title_mobile,
  .time1_mobile,
  .time2_mobile,
  .time3_mobile,
  .address1_mobile,
  .address2_mobile,
  .station1_mobile,
  .station2_mobile {
    display: block;
  }
}
