.contact {
  width: 100vw;
}
/* 小見出しと灰色部分を配置する（flexbox） */
.sns-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
  margin-top: 3rem;
  padding: 3% 10%;
}

/* 小見出しと灰色部分のスタイル指定（色、余白指定） */
.sns-container-tag{
  margin-top: 3rem;
  text-align: center;
}

.sns-container-item{
  background: #c4c4c4;
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding:60% 5%;
}
