.goods {
  width: 100vw;
}

.goods-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
  margin-top: 3rem;
}

.goods-container-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
  margin-top: 3rem;
}

.goods-images {
  width: 100%;
  max-width: 600px;
  border-radius: 70px;
}

div.goods-caption-wrap {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: auto 0;
}

p.goods-caption {
  font-size: 16px;
}
@media screen and (min-width: 960px) {
  p.goods-caption {
    font-size: 24px;
  }
}

.goods-tag {
  padding-top: 4%;
  padding-bottom: 2%;
  color: #006400bd;
  font-size: 36px;
}
@media screen and (min-width: 960px) {
  p.goods-tag {
    font-size: 40px;
  }
}