* {
  color: #111;
  font-family: Roboto;
}

.title-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.title {
  color: #006400;
  font-size: 48px;
  font-family: "Roboto Slab";
  font-weight: normal;
  margin-top: 80px;
}
.subtitle {
  color: #006400;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: normal;
}

header {
  color: white;
  background-color: green;
  width: 100vw;
  height: 100px;
  justify-content: space-evenly;
}

footer {
  background-color: green;
  width: 100vw;
  height: 100px;
}

.header {
  justify-content: space-evenly;
}

.logo img {
  background: url(img logo.jpg);
  border-radius: 349px;
}

#nav {
  list-style: none;
  overflow: hidden;
}

#nav li {
  width: 200px;
  font-size: 28px;
  float: left;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

#nav2 {
  list-style: none;
  overflow: hidden;
  justify-content: flex-end;

#nav2 li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
