<<<<<<< HEAD
#special {
=======
.special {
  position: relative;
>>>>>>> 76d561252e961e005767cc693c7c36bd1b119686
  width: 100vw;
  height: 112vw;
}

.main {
  width: 83%;
  margin-top: 8.3vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 3vw;
  font-family: "Roboto";
}

.image-wrap {
  margin-top: 8.3vw;
  display: flex;
  justify-content: space-around;
}

.image-wrap img {
  width: 17vw;
  height: auto;
}

@media screen and (max-width: 560px) {
}
